**/bin/
**/obj/
**/*.bmarks
**/*.save
**/*.layout
**/*.html
**/*.cbp
**/doxygen/
**/*.exe
**/*.depend
**/*.obj
**/*.o
**/*.h.gch
**/*~
**/*.swp
*.xcscheme
*.plist
*.xcworkspacedata
*.xcuserstate
*.pbxproj
*.gz
*.log
*.aux
*.pdf
*.tex
